<p id="notice"><%= notice %></p>
<%= link_to 'New Image', new_image_path %>

<h1>Public Images</h1>

  <% @images.each do |image| %>
    <div class="wrap">
      <div class="tile">
        <%= link_to(image_tag(image.filename, :class => "img-thumbnail"), image) %>
      </div>
    </div>

<!--<td>image.private </td>
<td> image.user_id </td>
<td>link_to 'Show', image </td>
<td>link_to 'Edit', edit_image_path(image) </td>
<td> link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } </td>-->
<!--</tr>-->
<% end %>
<!--
</tbody>
</table>
-->

<br>

