// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-bottom: 0.8em;
}

.tile {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
  float:left
}

.img-thumbnail {
  position:absolute;
  width: 100%;
}

.button {
  margin: 0.8em;
  background-color:#44a2d4;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Georgia;
  font-size:18px;
  padding:16px 31px;
  text-decoration:none;
}
.button:hover {
  background-color:#3ef053;
}
.button:active {
  position:relative;
  top:1px;
}

