<p id="notice"><%= notice %></p>

<h2>Listing Breaches</h2>

<table>
  <thead>
    <tr>
      <th>Active Breaches</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breaches.each do |breach| %>
      <tr>
        <td><%= User.find(breach.target_id).name %></td>
        <td><%= link_to 'Show', breach %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breach', new_breach_path %>
